На основе датасета из ноутбука проведите анализ данных и постройте зависимости частоты и среднего убытка от какого-либо параметра (за исключением уже выполненных в ноутбуке).

In [3]:
# Загрузка библиотек

import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [4]:
df = pd.read_csv('freMPL-R.csv', low_memory=False)

In [5]:
df.head()

,Exposure,LicAge,RecordBeg,RecordEnd,VehAge,Gender,MariStat,SocioCateg,VehUsage,DrivAge,...,ClaimInd,Dataset,DeducType,ClaimNbResp,ClaimNbNonResp,ClaimNbParking,ClaimNbFireTheft,ClaimNbWindscreen,OutUseNb,RiskArea
0,0.583,366,2004-06-01,NaN,2,Female,Other,CSP1,Professional,55,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.200,187,2004-10-19,NaN,0,Male,Alone,CSP55,Private+trip to office,34,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.083,169,2004-07-16,2004-08-16,1,Female,Other,CSP1,Professional,33,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.375,170,2004-08-16,NaN,1,Female,Other,CSP1,Professional,34,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.500,224,2004-01-01,2004-07-01,3,Male,Other,CSP47,Professional,53,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343080 entries, 0 to 343079
Data columns (total 31 columns):
Exposure             343080 non-null float64
LicAge               343080 non-null int64
RecordBeg            343080 non-null object
RecordEnd            181115 non-null object
VehAge               177880 non-null object
Gender               343080 non-null object
MariStat             343080 non-null object
SocioCateg           343080 non-null object
VehUsage             343080 non-null object
DrivAge              343080 non-null int64
HasKmLimit           343080 non-null int64
BonusMalus           343080 non-null int64
VehBody              145780 non-null object
VehPrice             145780 non-null object
VehEngine            145780 non-null object
VehEnergy            145780 non-null object
VehMaxSpeed          145780 non-null object
VehClass             145780 non-null object
ClaimAmount          343080 non-null float64
RiskVar              145780 non-null float64
Garage               145780 non-null object
ClaimInd             343080 non-null int64
Dataset              343080 non-null int64
DeducType            66890 non-null object
ClaimNbResp          197300 non-null float64
ClaimNbNonResp       197300 non-null float64
ClaimNbParking       197300 non-null float64
ClaimNbFireTheft     197300 non-null float64
ClaimNbWindscreen    197300 non-null float64
OutUseNb             197300 non-null float64
RiskArea             197300 non-null float64
dtypes: float64(10), int64(6), object(15)
memory usage: 81.1+ MB

In [9]:
df['PolicyCount'] = 1
df['ClaimCount'] = df['ClaimAmount'] > 0
df['NoClaimCount'] = df.PolicyCount - df.ClaimCount

In [10]:
df_group_age = df[['Exposure', 'PolicyCount','ClaimAmount', 'ClaimCount', 'NoClaimCount']].groupby(df['DrivAge']).sum()
df_group_age = df_group_age.reset_index()

In [11]:
df_group_age['Freq'] = df_group_age.ClaimCount / df_group_age.Exposure
df_group_age['AvgClaim'] = df_group_age.ClaimAmount / df_group_age.ClaimCount

# Описание датасета

 - Exposure - срок действия договора страхования в отчетном периоде
 - LicAge - водительский стаж
 - RecordBeg - дата начала действия страхового договора - текущий год
 - RecordEnd - дата окончания действия страхового договора в текущем году
 - Gender - пол водителя
 - MariStat - семейное положение
 - SocioCateg - социальная категория
 - VehUsage - цель использования транспортного средства 
 - DrivAge - возраст водителя
 - HasKmLimit - наличие/отстутсвие лимита по киллометражу
 - BonusMalus - бонусные баллы от 50 до 272
 - ClaimAmount - сумма страховго возмещения
 - RiskVar - оценка риска по 20-балльной шкале
 - ClaimInd - наличие/ отсутствие страховых случаев
 - ClaimNbResp - оценка ClaimNbResp по 5-балльной шкале (0-5)
 - ClaimNbNonResp - оценка ClaimNbNonResp по 7-балльной шкале (0-7)
 - ClaimNbParking - оценка ClaimNbParking (парковка) по 5-балльной шкале (0-5)
 - ClaimNbFireTheft оценка ClaimNbFireTheft (пожар, воровство) по 4-балльной шкале (0-4)
 - ClaimNbWindscreen оценка ClaimNbWindscreen (ветровое стекло) по 8-балльной шкале (0-8)
 - OutUseNb оценка OutUseNb по 5-балльной шкале (0-5)
 - RiskArea - оценка RiskArea по 13-балльной шкале (1-13)